<!DOCTYPE html>
<!--apply attribute to html element-->
<!--<html dat-ng-app>-->
<html ng-app="todoApp">
<head>
   <title>TO DO List</title>
   <link href="bootstrap/bootstrap.css" rel="stylesheet" />
   <link href="bootstrap/bootstrap-theme.css" rel="stylesheet" />
   <!--to include AngularJS to an HTML file, simply use script tag to import angular.js-->
   <script src="/angularjs/angular.js"></script>
   <!--create an Angular module using script tag-->
   <script>
      // define model
      var model = {
	 user: ""
      };

      var todoApp = angular.module("todoApp", []);

      todoApp.run(function($http) {
	 $http.get("mytodo.json").success(function(data) {
	    model.items = data;
	 });
      });

      todoApp.filter("checkedItems", function() {
	 return function (items, showComplete) {
	    var resultArr = [];
	    angular.forEach(items, function(item){
	       if(item.done == false || showComplete == true) {
		  resultArr.push(item);
	       }
	    });
	    return resultArr;
	 }
      });

      // Create controllers
      todoApp.controller("ToDoCtrl", function ($scope) {

         $scope.todo = model;

	 $scope.incompleteCount = function() {
	    var count = 0;
	    angular.forEach($scope.todo.items, function (item) {
	       if (!item.done) {
		  count++;
	       }
	    });
	    return count;
	 }
   
	 $scope.warningLevel = function() {
	    return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
	 }

	 $scope.addNewItem = function(actionText) {
	    $scope.todo.items.push({ action: actionText, done: false });
	 }
	 
	 $scope.changeUserName = function(userName){
	    $scope.todo.user = userName;
	 }

         $scope.showTodo = function(){
	    if($scope.todo.user){
	       return true;
	    }
	    else {
	       return false;
	    }
	 }
      });

</script>
</head>
<!--specify region of HTML doc that controller is responsible for-->
<body ng-controller="ToDoCtrl">
   <!--get user name-->
   <div class="panel">
      <input class="form-control" ng-model="userName" />
      <span class="input-group-btn">
	 <button class="btn btn-default"
	    ng-click="changeUserName(userName)" >Submit</button>
      </span>
   </div>
   <div class="page-header" >
      <!--<h1>Brenda's To Do List</h1>-->
      <!--data binding used to populate the HTML document with model data--> 
      <h1>
	 {{todo.user}}'s To Do List
	 <spam class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">
	    {{incompleteCount()}}
	 </spam>
      </h1>
   </div>
   <div class="panel">
      <div class="input-group">
	<!-- <button class="btn btn-default">Add</button>-->
	 <input class="form-control" ng-model="actionText" />
	 <span class="input-group-btn">
	    <button class="btn btn-default" 
	       ng-click="addNewItem(actionText)">Add</button>
	 </span>
      </div><!--input-group end-->
      <table ng-show="showTodo()" class="table table-striped">
	 <thead>
	    <tr>
	       <th>Description</th>
	       <th>Done</th>
	    </tr>
	 </thead>
	 <tbody>
	    <!--ng-repeat attribute, applies DIRECTIVE telling AJS to generate the element it is applied to
	    and its contents for each object in a collection-->
	    <tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
	       <td>{{item.action}}</td>
	       <td><input type="checkbox" ng-model="item.done" /></td>
	    </tr>
	 </tbody>
      </table>

      <div class="checkbox-inline">
	 <label><input type="checkbox" ng_model="showComplete">Show Complete</label>
      </div>
   </div><!--panel end-->
</body>
</html>
